.navbar {
    background: #fff;
    -webkit-box-shadow: 0 1px 0 #ddd;
    box-shadow: 0 1px 0 #ddd;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 999;
  }
  
  .navbar-nav span[role=button] {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
  }
.nav-link {
    color: #777;
    font-style: italic;
    border-bottom: 1px solid transparent;
    padding: 0.5rem 1rem;
  }
  
.nav-link.active, .nav-link:hover {
    color: #333;
  }
  
 .nav-link.active {
    border-bottom: 1px solid #333;
  }
  
  
  nav.navbar.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 999;
  }
  

  
  